<nav>
  <div class="flex flex-row items-center justify-between">
    <button class="me-4 flex items-center justify-center" [matMenuTriggerFor]="boardMenu">
      <img src="assets/icons/menu-outline.svg" style="width: 30px; height: 30px;" alt="menu">
    </button>
    <input type="text" class="px-2 outline-none bg-transparent text-lg" [value]="boardData.getActiveBoard()?.name"
    (blur)="changeName($event)">

  </div>
  <button (click)="saveData()" class="btn-shadow" id="saveToFileSystem">
    <img src="assets/icons/person-outline.svg" alt="note" style="width: 25px; height: 25px;">
  </button>

  <mat-menu #boardMenu="matMenu" class="!bg-background-base-50 !text-sm !shadow-md">
    <button mat-menu-item [matMenuTriggerFor]="boardConfig" class="flex flex-row justify-center items-center">
      <img src="assets/icons/clipboard-outline.svg" alt="note" style="width: 20px; height: 20px; display: inline;" >
      <span class="ms-4">Board</span>
    </button>
    <!-- <button mat-menu-item>
      <mat-icon style="transform: scale(0.85);">grid_3x3</mat-icon>
      <span>Enable grid</span>
    </button> -->
  </mat-menu>
  <!-- <mat-menu #viewConfig="matMenu" class="!bg-background-base-50 !text-sm !shadow-md">
    <button mat-menu-item (click)="boardData.createBoard()">
      <mat-icon style="transform: scale(0.85);">add</mat-icon>
      <span>Toggle note handlers</span>
    </button>
  </mat-menu> -->

  <mat-menu #boardConfig="matMenu" class="!bg-background-base-50 !text-sm !shadow-md">
    <button mat-menu-item (click)="boardData.createBoard()">
      <img src="assets/icons/add-outline.svg" alt="note" style="width: 20px; height: 20px; display: inline;" >
      <span class="ms-4">New board</span>
    </button>
    <!-- <button mat-menu-item [matMenuTriggerFor]="bgColor">
      <mat-icon style="transform: scale(0.85);" svgIcon="color_fill"></mat-icon>
      <span>Background Color</span>
    </button> -->
    <button mat-menu-item (click)="deleteBoard()">
      <img src="assets/icons/trash-outline.svg" alt="note" style="width: 20px; height: 20px; display: inline;" >
      <span class="ms-4">Delete</span>
    </button>
  </mat-menu>
    <mat-menu #bgColor="matMenu" class="!bg-background-base-50 !text-sm !shadow-md">
      <button mat-menu-item >Color 1</button>
      <button mat-menu-item >Color 2</button>
      <button mat-menu-item >Color 3</button>
    </mat-menu>
</nav>
