<nav class="bg-background-base-50 border-b-[1px] border-b-background-400 shadow dark:bg-background-dark-900 dark:border-b-background-dark-700">

  <div class="flex flex-row items-center">
    <a [routerLink]="['/tutorial']" class="link">
      Tutorials
    </a>
    <button (click)="openLink('https://hibounote.netlify.app')" class="link">
      Docs
    </button>
    <button (click)="openLink('https://hibounote.netlify.app/blog')"  class="link">
      Blog
    </button>
    <button (click)="openLink('https://github.com/hibounoteapp/hibounote')"  class="link">
      Contribute!
    </button>
  </div>

  <div class="flex flex-row items-center">
    <button (click)="openLink('https://hibounote.netlify.app/about')" matTooltip="About" class="flex justify-center items-center">
      <mat-icon class="me-4" svgIcon="info"></mat-icon>
    </button>
    <button class="w-14">
      <img src="assets/user_placeholder.svg" alt="" class="rounded-full w-[80%]" matTooltip="🚧 In progress!">
    </button>
  </div>
</nav>
