<nav>
  <div id="desktop-port">
    <div class="flex flex-row items-center">
      <button (click)="openLink('https://hibounote.netlify.app')"><img src="assets/logo.svg" alt="logoHibounote" id="logo" matTooltip="Go to web page"></button>
      <aside class="ms-4 font-bold">Hibounote</aside>

    </div>
    <div class="flex flex-row items-center">
      <a [routerLink]="['/tutorial']" matTooltip="See tutorials" class="flex justify-center items-center">
        <img src="assets/icons/info-outline.svg" style="width: 30px; height: 30px;" alt="info" matTooltip="See tutorials">
      </a>
    </div>
  </div>

  <div id="mobile-port">
    <a [routerLink]="['/']"><img src="assets/logo.svg" alt="logoHibounote" id="logo"></a>
    <div class="flex flex-row items-center">
      <a [routerLink]="['/tutorial']" matTooltip="See tutorials" class="flex justify-center items-center">
        <img src="assets/icons/info-outline.svg" alt="info" id="logo" matTooltip="Go to web page">
      </a>
      <button class="w-14">
        <img src="https://placehold.co/128x128?text=User" alt="" class="rounded-full w-full" matTooltip="🚧 In progress!">
      </button>
    </div>
  </div>
</nav>
