<div class="dragDiv nodeElement"></div>
<div class="fadeDiv nodeElement"></div>
<div class="resizeButton nodeElement">
  <img src="assets/icons/resize-outline.svg" draggable="false" alt="resize notes" style="width: 12px; height: 12px;">
</div>
<div class="linkActionButton nodeElement">
  <div class="linkAction absolute h-full w-full z-10 bg-transparent">
  </div>
  <img src="assets/icons/link-outline.svg" draggable="false" alt="link notes" style="width: 12px; height: 12px;">
</div>
<textarea class="desc nodeElement" readonly disabled="true" [value]="innerTextarea" placeholder="Double click to type..."></textarea>


